.carrito {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 20px;
  margin-right: 20px;
}

.carrito img {
  width: 10%;
  margin-right: 5px;
}

.carrito p {
  color: #ff2c6e;
  margin: 0;
}
