.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color="#ff2c6e"
  height: 100vh; 
  width:200px
  height: 200px
}
