.header {
  box-sizing: border-box;
  text-decoration: none;
  padding: 1.25rem 1.25rem;
  background-color: #631e6b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.logo {
  width: 40%;
  height: auto;
}
